<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h1>Voici la réponse du coach</h1>

<p><strong>Ta question :</strong> <%= @question %></p>
<p><strong>Réponse :</strong> <%= @answer %></p>

<%= link_to "Poser une autre question", "/ask" %>
